/*=============================================================================
 * Master Stylesheet ~
 *    Styles all website pages for personal portfolio website with CSS3,
 *    also working with JavaScript for increased dynamic content to the page
 * 
 * Author(s): Alexander Del Brocco                                               
 * Started  : 30th of January, 2024
=============================================================================*/

/* Sitewide Properties -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
 *  ~ Properties applied throughout the site
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/

/* General HTML -------------------------------------------------------------*/

* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
  --dead-black: #000000;
  --site-black: #0c0908;
  --site-teal: #008080;
  --site-teal-w: #92C9C9;
  --text-white: #DDDDDD;
  --site--white: #EEEEEE;
}

html {
  background-color: var(--dead-black);
  font-size: calc((1vh + 1vw)*.4); /*Sets value for other element's reference*/
  height: 100vh; /*Deduced size from viewport*/
  width: 99.5vw; /*Not 100 from scroll bar*/
  scroll-behavior: smooth;
  overflow-x: hidden;
}

header {
  background-color: var(--site-black);
}

footer {
  height: 15%;
  background-color: var(--site-black);
  color: #DDDDDD;
  padding: 2% 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}

footer a {
  color: #DDDDDD;
} footer a:hover {
  text-decoration: underline;
}

footer div.copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 10%;
  padding: 0% 0% 2% 0%;
}

footer div {
  background-color: var(--site-black);
}

footer div.seperator {
  border-left: 1px solid #DDDDDD;
  height: 80%;
  width: 1%;
}

footer div.map {
  width: 70%;
  margin: 0%;
}

footer div.map ul.map  {
  display: flex;
  margin: 0%;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  padding-left: 0%;
}

footer div.map ul.map ul {
  width: 25%;
  list-style: none;
  padding-left: 0%;
}

footer div.map ul.map ul ul li {
  padding: 0%;
}

body {
  font-size: 1rem;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

main {
  height: 100%;
  width: 100%;
  background-color: var(--dead-black);
}

main.homepage {
  height: 190%;
  width: 100%;
}

main.credentials-home {
  height: 170%;
}

main.projects-home {
  height: 150%;
}

main.projects-portfolio {
  height: 100%;
}

main.personal-home {
  height: 250%;
}

main.personal-blog {
  height: 200%;
}

main.contact-home {
  height: 40%;
}

main.contact-form {
  height: 100%;
}

main.contact-status {
  height: 30%;
}

div {
  background-color: var(--text-white);
}

div.intro-bar {
  background-color: var(--site--white);
  box-sizing: border-box;
  font-size: 1.5rem;
  width: 100%;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

hr {
  width: 100%;
}

p {
  color: var(--site--white);
  font-family: Geneva, Verdana, sans-serif;
  font-size: 1.5rem;
  margin: 0%;
  text-align: left;
  text-decoration: none;
}

p.intro-bar {
  font-size: 2rem;
  width: 95%;
}

img {
  margin: 0;
  padding: 0;
}

a {
  border: none;
  text-decoration: none;
}

/* Navigation Bar -----------------------------------------------------------*/

/* Navigation Bar Attributes - - - - - - - - - - - - - - - - - - - - - - - - */

header {
  width: 100%;
  height: 4.4%; /*30% of 15% height nav-bar is visible*/
}

nav {
  background-color: transparent;
  color: var(--site-teal );
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2rem;
  height: fit-content;
  position: fixed;
  width: 100%;
  z-index: 200;
  height: 15%;
}

div.nav-bar {
  background-color: var(--site-black);
  display: flex;
  justify-content: space-between;
  height: 30%;
  width: 65%;
  float: left;
  border-bottom: 1px var(--site-teal) double;
}

/* Navigation Root Section Attributes - - - - - - - - - - - - - - - - - - - -*/

#nav-root-branch {
  margin-right: 60%;
  position: relative;
  display: flex;
  align-items: center;
  width: 7%;
  height: 100%;
  margin: 0%;
  justify-content: center;
  align-items: center;
}

#nav-home {
  text-align: center;
  vertical-align: text-bottom;
  width: 100%;
  height: 100%;
}

/* Navigation Branches Section Attributes - - - - - - - - - - - - - - - - - -*/

div.nav-branches {
  background-color: transparent;
  float: right;
  display: flex;
  width: 35%;
  height: 100%;
}

div.nav-branch {
  align-items: center;
  width: 23%;
  padding: 0%;
  margin: 0%;
  height: 100%;
  background-color: transparent;
}

#credentials-branch {
  width: 31%;
}

/* Navigation - Branch Root Attributes (Head Tab) */

div.nav-branch-root {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px var(--site-teal) double;
}

a.nav-root {
  animation: navFizzOut .2s;
  background-color: var(--site-black);
  color: var(--site-teal);
  font-weight: 450;
  font-size: 1.5rem;
  text-decoration: none;
  text-align: center;
  position: relative;
  width: 100%;
  height: 100%;
} a.nav-root:hover {
  animation: navFizzIn .2s;
  background-color: #60747C;
  top: 2px;
} #nav-contact {
  animation: navContactFizzOut .2s;
  background-color: #D9A774;
  color: #2f2f2f;
} #nav-contact:hover {
  animation: navContactFizzIn .2s;
  background-color: #60747C;
  color: #FFFFFF;
}

/* Navigation - Branch Leaves Attributes (Dropdown Menu) */

div.nav-branch-leaves {
  box-sizing: border-box;
  width: 100%;
  height: 70%;
  background-color: transparent;
  display: none;
}

div.nav-branch-root:hover + div.nav-branch-leaves {
  display: contents;
}

div.nav-branch-leaves:hover {
  display: contents;
}

div.nav-branch-leaves ul {
  list-style: none;
  margin: 0%;
  padding: 0%;
  background-color: #EEEEEE;
}

div.nav-branch-leaves li{
  display: flex;
  justify-content: stretch;
}

a.nav-leaf {
  padding: 0% 10%;
  width: 100%;
  height: 100%;
  color: #60747C;
  transition: ease-in .1s;
} a.nav-leaf:hover {
  background-color: #60747C;
  color: #DDDDDD;
  border: #DDDDDD;
  padding: 0% 5% 0% 15%;
}

/* Personal Branch Properties -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
 *  ~ Properties applied exclusively to the Personal branch of the website
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/

/* Personal Home Page -------------------------------------------------------*/

#lean-left {
  left: 0px;
  position: relative;
  transition: ease .4s;
} #lean-left:hover {
  left: -10px;
}

#lean-right {
  right: 0px;
  position: relative;
  transition: ease .4s;
} #lean-right:hover {
  animation: sectionLeanLeft .2s; 
  right: -10px;
}

.full-width {
  width: 100%;
  display: flex;
}

.centre-width {
  width: 80%;
  margin: 0% 10%;
  display: flex;
}

.left-column {
  height: 100%;
  float: left;
  width: 50%;
  background-color: var(--site-black);
}

.right-column {
  height: 100%;
  float: right;
  width: 50%;
  background-color: var(--site-black);
}

img.in-container {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#homepage-breakdown img.in-container {
  border-radius: 2%;
}

p.in-container {
  width: 100%;
  height: 100%;
}

button.styled {
  background-color: var(--site-teal);
  box-sizing: border-box;
  border-radius: 4%/10%;
  border: 0px #DDDDDD solid;
  float: left;
  margin: 0% 1.25%;
  padding: 2% 2%;
  transition: ease .2s;
} button.styled a {
  color: #DDDDDD;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  position: relative;
  top: 0px;
  font-size: 1.5rem;
  transition: ease .2s;
} button.styled:hover {
  background-color: var(--text-white);
  border-color: #284854;
  border-radius: 1%/2%;
  color: #284854;
} button.styled:hover a {
  color: #284854;
  text-decoration: underline;
  top: -1px;
}

#contact-button {
  animation: contactFizzOut .4s;
  background-color: #D9A774;
} #contact-button a {
  color: #2f2f2f;
} #contact-button:hover {
  background-color: #60747C;
  border-color: #284854;
  border-radius: 10%/40%;
} #contact-button:hover a {
  color: #FFFFFF;
}

/* Homepage Properties -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
 *  ~ Properties applied exclusively to the Homepage of the website.
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/

/* Homepage : Gallery ------------------------------------------------------ */

#homepage-gallery {
  height: 34%;
  position: relative;
}

#homepage-gallery h1 {
  filter: invert(1);
  position: absolute;
  float: none;
  z-index: 8;
  font-size: 4rem;
  margin-left: 5%;
}

/* Homepage : Introduction ------------------------------------------------- */

#homepage-intro {
  background-color: var(--site-black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50%;
} #homepage-intro div {
  background: var(--dead-black);
  background: linear-gradient( 0deg,
  #000000 0%,
  #0C0908 35%,
  #4a5a6a 41%,
  #5F7582 48%,
  #587597 62%,
  #456397 78%,
  #375989 100%
  );
}

/* Homepage : Introduction : Image - - - - - - - - - - - - - - - - - - - - - */

#homepage-intro .profile-picture {
  height: 100%;
  width: auto;
}

/* Homepage : Introduction : Content - - - - - - - - - - - - - - - - - - - - */

#homepage-intro .contents {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

#homepage-intro .text-box {
  height: 100%;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#homepage-intro p {
  color: #AAAAAA;
  font-size: 1.7em;
}

#homepage-intro .button-box {
  width: 100%;
  height: 40%;
}

/* Homepage : Webpage Breakdown -------------------------------------------- */

#homepage-breakdown {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-auto-rows: 30vh;
  gap: 5vh;
  background-color: #04010A;
  padding: 5%;
  max-height: 70%;
}

#homepage-breakdown .section {
  grid-column: 1 / 13;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  background-color: var(--dead-black);
  border-radius: .5% / 2%;
  padding: 1%;
  position: relative;
  top: 0px;
} #homepage-breakdown .section::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background: linear-gradient(
    0deg, 
    #008080 0%, 
    #004747 12%, 
    #0C0908 50%, 
    #000000 100%
  );
  opacity: 0;
  transition: opacity 1s linear;
}

#homepage-breakdown .section:hover::before {
  opacity: 1;
}

#homepage-breakdown .section:hover {
  top: -10px;
  border: .5px #FFFFFF solid;
}

#homepage-breakdown .section > * {
  position: relative;
  z-index: 1;
}

@media (max-width: 400px) {

  .section {
    max-width: 390px;
  }

  main.homepage {
    height: 340%;
  }

  #homepage-breakdown {
    height: 100%;
    width: 100%;
    padding: 0%;
    margin: 0%;
  }
  #homepage-breakdown .section {
    grid-auto-columns: max-content;
    grid-template-columns: 1fr; 
    display: flex;
    flex-direction: column;
  }
  
  .left-panel,
  .right-panel,
  .conv-left-panel,
  .conv-right-panel {
    grid-column: 1 / 13; 
    width: 100%;
  }

  .conv-left-panel {
    order: 2; 
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.left-panel{
  grid-column: 1 / 4;
  background-color: transparent;
}
.right-panel{
  padding: 2%;
  grid-column: 4 / 13;
  background-color: transparent;
}

.conv-left-panel{
  grid-column: 1 / 10;
  background-color: transparent;
}

.conv-right-panel{
  grid-column: 10 / 13;
  background-color: transparent;
}

#homepage-breakdown .contents {
  border-radius: 1%/2%;
  box-sizing: border-box;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 0% 5% 2% 2%;
  position: relative;
  top: 0px;
  transition: top ease 0.4s;
}

.h-box {
  background-color: transparent;
  border-bottom: 1px #DDDDDD solid;
  padding: 2% 1%;
  margin: 0% 0 2% 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.h-box .left-column {
  width: 80%;
  background-color: transparent;
}

.h-box .right-column {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: transparent;
}

#homepage-breakdown h2 {
  font-size: 3em;
  color: var(--site-teal);
  margin: 0;
  background-color: transparent;
  transition: all linear .2s;
} #homepage-breakdown h2:hover {
  color: #92C9C9;
}

#homepage-breakdown h3 {
  color: #888888;
  font-size: 1.5em;
  margin: 0;
  background-color: transparent;
} #homepage-breakdown h3 a {
  color: #888888;
  transition: all  .1s;
} #homepage-breakdown h3 a:hover {
  text-decoration: underline;
  color: var(--text-white);
}

#homepage-breakdown .text-box {
  height: 100%;
  width: 100%;
  background-color: transparent;
} #homepage-breakdown .text-box p {
  font-size: 2rem;
  font-family: 'Times New Roman', Times, serif;
}

#homepage-breakdown .button-box {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--site-black);
} #homepage-breakdown .button-box a {
  font-size: 2rem;
  font-family: 'Courier New', Courier, monospace;
  padding: 10% 5%
}

/* Credential Branch Attributes -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
 *  ~ Properties applied exclusively to the Credentials branch of the website
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/

/* Credentials : Home ---------------------------------------------------------
 *
---------------------------------------------------------------------------- */

#credentials-gallery {
  height: 40%;
  width: 100%;
}

#credentials-gallery div {
  background-color: #EEEEEE;
}

#credentials-gallery #image-column {
  width: 33.3%;
  height: 100%;
}

#credentials-gallery #two-thirds-column {
  width: 66.7%;
}

#credentials-gallery .contents {
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0% 5% 5% 5%;
}

#credentials-gallery .text-box {
  height: 70%;
  width: 100%;
  font-size: 3rem;
}

#credentials-gallery .button-box {
  height: 10%;
  width: 100%;
  margin: 0% 0%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#credentials-extra-curricular {
  height: 60%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#credentials-extra-curricular .section {
  height: 50%;
  width: 100%;
}

#credentials-extra-curricular .contents {
  padding: 0% 4% 4% 4%;
  height: 100%;
  width: 100%;
}

#credentials-extra-curricular .text-box {
  font-size: 2rem;
  height: 90%;
  width: 100%;
}

#credentials-extra-curricular .button-box {
  display: flex;
  justify-content: flex-start;
}

/* Projects Branch Attributes -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
 *  ~ Properties applied exclusively to the Projects branch of the website.
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/


#projects-introduction {
  background-color: #FFFFFF;
  height: 40%;
}

#projects-introduction .contents {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 0% 2% 2% 2%;
}

#projects-introduction div {
  background-color: #FFFFFF;
}

#projects-introduction .text-box {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80%;
}

#projects-introduction .button-box {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  margin: 0%;
}


#projects-languages {
  background-color: #EEEEEE;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  height: 25%;
  padding: 1%;
}

#projects-languages a {
  width: 8%;
  height: 40%;
  margin: 0% 2%;
  position: relative;
  top: 0px;
  transition: top ease .4s;
} #projects-languages a:hover {
  top: -10px;
}

#projects-languages .longer {
  width: 15%
}

#projects-languages .shorter {
  width: 6%;
}

#projects-list {
  height: 35%;
  background-color: #DDDDDD;
  padding: 0% 1%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
}

#projects-list h2 {
  width: 100%;
  height: 10%;
}

#projects-list ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

#projects-list ul li {
  width: 25%;
  height: 20%;
  font-size: 2rem;
}

#projects-list div {
  height: 80%;
  font-size: .8rem;
}

main.projects-portfolio #title {
  height: 8%;
  padding: 1%;
  background-color: #FFFFFF;
}

main.projects-portfolio #table {
  height: 50%;
}

main.projects-portfolio table {
  width: 100%;
  height: 100%;
  padding: 0% 10%;
}

main.projects-portfolio table tr {
  height: 10%;
  border-bottom: 1px dotted #2F2F2F;
}

main.projects-portfolio table th, td{
  padding: 0% 1%;
}

main.projects-portfolio #portfolio-table {
  height: 80%;
  background-color: #EEEEEE;
}

/* Personal Branch Attributes -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
 *  ~ Properties applied exclusively to the Personal branch of the website.
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/

#personal-header h1 {
  width: 100%;
  height: 100%;
}

#personal-showcase {
  height: 100%;
  flex-direction: column;
  background-color: #FFFFFF;
}

#personal-showcase div {
  background-color: #FFFFFF;
}

#personal-showcase .section {
  height: 30%;
  width: 100%;
}

#personal-showcase .contents {
  width: 100%;
  height: 100%;
  padding: 0 4% 4% 4%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

#personal-showcase h1 {
  font-size: 3.5rem;
}

#personal-showcase .contents p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 3.5rem;
}

#personal-big-button {
  box-sizing: border-box;
  padding: 1% 5%;
} #personal-big-button a {
  font-size: 2.5rem;
}

#personal-showcase .intro {
  background-color: #EEEEEE;
  height: 10%;
  padding: 2%;
}

#personal-showcase .intro p {
  font-size: 2rem;
}

main.personal-blog aside figure {
  width: 100%;
  height: 33%;
  box-sizing: border-box;
}

figure {
  font-size: 1rem;
}

figure figcaption {
  filter: invert(1);
  position:absolute;
  z-index: 999;
}

/* Contact Branch Attributes -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
 *  ~ Properties applied exclusively to the Contact branch of the website.
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/

#contact-information {
  height: 100%;
  background-color: #FFFFFF;
  font-size: 2rem;
}

#contact-information div {
  background-color: #FFFFFF;
}

#contact-information .section {
  height: 100%;
  width: 100%
}

#contact-information .contents {
  height: 90%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

#contact-information hr {
  width: 90%;
  margin-right: 10%;
}

#contact-information .text-box {
  padding: 0% 5%;
  box-sizing: border-box;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#contact-information .left-column .text-box {
  padding-top: 0%;
}

#contact-information .right-column {
  background-color: #FFFFFF;
  padding: 2%;
}

#contact-information .right-column div {
  background-color: #EEEEEE;
  border-radius: 2%/8%;
}

#contact-information .button-box {
  padding-left: 4%;
}

#contact-form {
  height: 100%;
}

#contact-form .contents {
  box-sizing: border-box;
  background-color: #FFFFFF;
  width: 100%;
  height: 100%;
  padding: 2%;
}

#contact-form .text-box {
  background-color: #FFFFFF;
}

#contact-form form {
  font-size: 2rem;
  box-sizing: border-box;
  padding: 2%;
  border-radius: 4%/10%;
  background-color: #EEEEEE;
  width: 100%;
  height: 50%;
}


#contact-form form div {
  background-color: #EEEEEE;
  color: #5A5A5A;
}

#contact-form form .contact-form-name {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 17%;
}

#contact-form form .contact-form-name div {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100%;
}

#contact-form input, select, textarea{
  box-sizing: border-box;
  color: #5A5A5A;
  padding: 0.05%;
  border: 2px solid #DDDDDD;
  border-radius: 2%/20%;
  height: 50%;
  width: 100%;
  font-size: 2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} #contact-form textarea {
  border-radius: 0%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#contact-form .contact-form-name .title {
  width: 10%;
}

#contact-form form .contact-form-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  height: 30%;
}

#contact-form form .contact-form-details .mo-contact {
  width: 100%;
  height: 30%;
  flex-direction: row;
  justify-content: space-between;
}

#contact-form form .contact-form-details .mo-contact input {
  width: 20%;
}

#contact-form form .contact-form-details div {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 40%;
  height: 50%;
}

#contact-form form .right-column {
  padding: 0% 5%;
}

h3 {
  margin: 0%;
  font-size: 2rem;
}

#contact-form form .right-column #submit-button {
  visibility: hidden;
}

#contact-status {
  height: 100%;
  width: 100%;
  flex-direction: column;
  padding: 0% 5%;
  background-color: #FFFFFF;
}

#contact-status div {
  background-color: #FFFFFF;
}

#contact-status div.text-box {
  width: 100%;
  height: 70%;
}

#contact-status div.btn-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 20%;
}

main.personal-blog figure {
  height: 100%;
  width: 20%;
  margin: 0%;
}

main.personal-blog section {
  height: 10%;
  background-color: #FFFFFF;
  display: flex;
  justify-content: flex-start;
  padding: 0;
  margin: 0%;
}

main.personal-blog article {
  height: 40%;
  background-color: #EEEEEE;
}

#in-row {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.fade-in {
  opacity: 0;
  transform: translateZ(-100%);
  transition: all 1s ease-in;
}

.hidden-left {
  opacity: 0;
  transform: translateX(-100%) ;
  filter: blur(2px);
  transition: all .7s;
}

.hidden-right {
  opacity: 0;
  transform: translateX(100%) ;
  filter: blur(2px);
  transition: all .7s;
}

/* @media(prefers-reduced-motion) {
  .hidden-left, .hidden-right {
    transition: none;
  }

  #homepage-breakdown .section {
    transition: none;
  }

  #homepage-breakdown .section::before {
    transition: none;
  }
} */

.show {
  opacity: 1 !important;
  transform: none;
  filter: blur(0px);
}

.hidden-left:nth-child(2) {
  transition-delay: 200ms;
}

.hidden-right:nth-child(2) {
  transition-delay: 200ms;
}

.hidden-left:nth-child(3) {
  transition-delay: 250ms;
}

.hidden-right:nth-child(3) {
  transition-delay: 250ms;
}

.hidden-left:nth-child(4) {
  transition-delay: 300ms;
}

.hidden-right:nth-child(4) {
  transition-delay: 300ms;
}

